.project-card {
    width: 300px;
    font-family: 'Lato', sans-serif;
    margin: 0 10px 50px 0;
    text-align: left;
}

.project-title {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    color: #3d3d3d;
    margin-bottom: 12px !important;
    text-align: left;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .2s;
}

.project-title:before {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: 'block';
    content: '»';
    transition: all .2s;
}

.project-title:hover {
    transform: translateX(20px);
}

.project-title:hover:before {
    opacity: 1;
    transform: translateX(-20px);
}

.img-container {
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 14px;
    cursor: pointer;
    transition: all .3s;
}

.project-card img {
    width: 100%;
    height: 204px;
    object-fit: cover;
    transition: all .3s;
}

.img-container:hover img {
    transform: scale(1.06);
}

.img-container:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.project-card p {
    font-size: 18px;
    white-space: wrap;
    color: #555;
    margin-bottom: 8px;
}

.project-card .tech-item {
    font-size: 15px;
    font-weight: 600;
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    margin-right: 8px;
}

@media only screen and (max-width: 1005px) {
    #projects .container {
        justify-content: space-around;
    }
}
