@font-face {
    font-family: 'Baron';
    src: url('BaronNeue-Regular.woff');
}

html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    min-height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    font-family: 'Baron', sans-serif;
    line-height: 1.3;
    color: #fff;
}

section {
    padding-top: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

a {
    text-decoration: none;
}

#particles {
    position: absolute;
    width: 100%;
    height: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    padding: 0 2vw;
    border-top: 5px solid #ff9e80;
    background: rgba(0,0,0,.1);
    transition: background .2s;
    z-index: 999;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 400px;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    text-transform: lowercase;
}

.nav-item img {
    color: white;
    height: 16px;
    margin-right: 8px;
}

.nav-item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.25s;
}

.nav-item:hover:after {
    width: 100%;
}

#intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #101010 url('img/bg.webp') center center no-repeat;
    background-size: cover;
    z-index: -1;
}

#title {
    text-align: center;
    margin-top: -5vh;
}

#name, #career, .nav-item {
    text-shadow: 0 1px 1px #101010;
    letter-spacing: 2px;
}

#name {
    font-size: 48px;
    animation-delay: .3s;
}

#career {
    font-size: 32px;
    animation-delay: 1s;
}

#projects {
    margin-top: 100vh;
    min-height: 100vh;
    background: white;
    color: black;
    text-align: center;
}

.section-title {
    display: inline-block;
    margin: 0 auto;
    font-size: 36px;
    text-align: center;
    border-bottom: 5px solid #FF9E80;
    padding-bottom: 9px;
}

#showcase {
    display: flex;
    justify-content: space-between;
    margin: 2vh auto;
    width: 95%;
    max-width: 1040px;
    flex-wrap: wrap;
}

.project-card {
    width: 300px;
    font-family: 'Lato', sans-serif;
    margin: 4vh 10px 10px 0;
    text-align: left;
}

.project-title {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    color: #3d3d3d;
    margin-bottom: 12px !important;
    text-align: left;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .2s;
}

.project-title:before {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: 'block';
    content: '»';
    transition: all .2s;
}

.project-title:hover {
    transform: translateX(20px);
}

.project-title:hover:before {
    opacity: 1;
    transform: translateX(-20px);
}

.img-hover-zoom {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 14px;
    cursor: pointer;
    transition: all .3s;
}

.project-card img {
    width: 100%;
    object-fit: cover;
    transition: all .3s;
}

.img-hover-zoom:hover img {
    transform: scale(1.06);
}

.img-hover-zoom:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.project-card p {
    font-size: 18px;
    white-space: wrap;
    color: #444;
    margin-bottom: 8px;
}

.project-card .tech-item {
    font-size: 15px;
    font-weight: 600;
    color: #FF9E80;
    border-bottom: 2px solid #FF9E80;
    margin-right: 8px;
}

/**
 * Media queries
 */

@media only screen and (max-width: 1000px) {
    #name {
        font-size: 40px;
    }
    #career {
        font-size: 32px;
    }
}

@media only screen and (max-width: 675px) {
    #name {
        font-size: 32px;
    }
    #career {
        font-size: 28px;
    }
}

@media only screen and (max-width: 695px) {
    #showcase {
        justify-content: center;
    }
    .btn-link {
        font-size: 13px;
        width: 120px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 528px) {
    #name {
        white-space: normal;
        font-size: 35px;
        line-height: 1;
    }
    #career {
        font-size: 25px;
        margin-top: 15px;
    }
    nav {
        justify-content: center;
    }
    .nav-item {
        font-size: 14px;
    }
}

@media only screen and (max-width: 420px) {
    .nav-item img {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    #name {
        white-space: normal;
        font-size: 30px;
        line-height: 1;
    }
    #career {
        font-size: 22px;
        margin-top: 12px;
    }
    .btn-link {
        font-size: 12px;
        margin: 0 10px;
    }
}